
# Contents:
#
#  Profile
#  Core
#  Commit
#  Alias
#    Status
#    Commit
#    Checkout
#    Branch
#    Reset(undo work/stage/cache)
#    Diff, difftool
#    Log
#    Tag
#    Help
#  Coding
#  Color

# * Profile
[user]
	name = Yuriy VG
	email = yuravg@gmail.com

[github]
	user = yuravg

# * Core
[core]
	editor = vim
	autocrlf = input

# * Commit
[commit]
	template = ~/.gitmessage

# * Alias
# ** Status
[alias]
	st = status
	ss = status -s
	sb = status -s --branch
	si = status -s --ignored

# ** Commit
[alias]
	c = commit
	cm = commit -m
	ci = commit -m

# ** Checkout
[alias]
	co = checkout
	cb = checkout -b
	ct = checkout --track

# ** Branch
[alias]
	br = branch
	bra = branch --all

# ** Reset(undo work/stage/cache)
[alias]
	uw = checkout --
	us = reset HEAD
	uc = rm --cached

# ** Diff, difftool
[alias]
	dw = diff --color-words
	dw0 = diff --color-words -U0
	ds = diff --staged --color-words
	ds0 = diff --staged --color-words -U0
	dh = diff HEAD --color-words
	w = difftool
	s = difftool --staged
	h = difftool HEAD
	wp = difftool --tool=p4merge
	sp = difftool --staged --tool=p4merge
	hp = difftool HEAD --tool=p4merge
	wm = difftool --tool=meld
	sm = difftool --staged --tool=meld
	hm = difftool HEAD --tool=meld
	mt = mergetool
	diffall = "!git difftool --dir-diff"

# ** Log
[alias]
	last = log -1 HEAD --name-status --date=format:'%Y-%m-%d %a %H:%M'
	lo = log --oneline --decorate --graph
	la = log --oneline --decorate --graph --all
	lp = log --patch-with-stat --date=format:'%Y-%m-%d %a %H:%M'
	ls = log --stat --date=format:'%Y-%m-%d %a %H:%M'
	lon = log --oneline --decorate --graph --name-status
	lan = log --oneline --decorate --graph --name-status --all
	sh = show --color-words --date=format:'%Y-%m-%d %a %H:%M'
	shw = show --word-diff --date=format:'%Y-%m-%d %a %H:%M'
	visual = !gitk&
	today = "!git lo --since midnight --author=\"$(git config user.name)\" --all"
	week = "!git lo --since=1.weeks --author=\"$(git config user.name)\" --all"

# ** Tag
[alias]
	tl = tag -n10
	tlv = tag -n10 --sort version:refname

# ** Help
[help]
	format = web

# * Coding
[i18n]
	filesencoding = utf-8
	logoutputencoding = utf-8

# * Color
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto
